<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>MobileRoot</title>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <style>img { width : 150; height : 150px; }</style>
</head>
<body>
: for $list -> $item {

    <div style="
        <: if ($item.retweeted_status) { :> background-color:#FFF8DC; <: } :>
    ">
            <div>
                <img src="<: $item.user.profile_image_url :>" style="width : 32px; height : 32px;" />
                <span><: $item.user.screen_name :> (<: $item.user.friends_count :> / <: $item.user.followers_count :>)</span>
            </div>

            <div><blockquote><: $item.processed | mark_raw :></blockquote></div>

            <div style="text-align:right;"><: $item.created_at :></div>
        </div>

    <hr />

: }

: if $list.size() == 0 {
    <div> There is no item to render.</div>
    <hr />
: }

<ul>
: for $unread.keys() -> $key {
:   if $unread[$key] == 0 {
:       # skip
:   } else {
        <li><a href="/mobile?filter=<: $key :>"><: $key :></a>(<: $unread[$key] :>)</li>
:   }
: }
</ul>

<hr />

</body>
</html>

