<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8" />
<title>Home</title>
<script src="/static/jquery.js"></script>
<script src="/static/FT.js"></script>
<script src="/static/jquery.iphone-switch.js"></script>
<script src="/static/jquery.char-count.js"></script>
<script src="/static/jquery.lightboxLib.js"></script>
<script src="/static/main.js"></script>
<link rel="stylesheet" type="text/css" href="/static/base.css" />
</head>
<body>


    <div id="containar">

        <div id="main">
            <div><a href="/mobile">mobile</a></div>
            <div id="timeline"></div>
            <div id="next"></div>
        </div>

        <div id="side">
            <div id="tweet" class="tools">
                <form action="javascript:" method="POST" id="statuses_update">
                    <textarea name="status"></textarea>
                    <input type="SUBMIT" class="submit" value="Tweet" />
                </form>
            </div>

            <div class="tools" id="ap-switch">
                <div style="margin : 5px 3px;">AutoPagerize</div>
                <div id="can_load_next" style="margin-right: 0px; padding-left: 60px;"></div>
            </div>

            <div id="new_filter_box" class="tools">
                <div style="margin : 5px 3px;">Add Filter</div>
                <div style="margin-right: 0px; padding-left: 30px;">
                    <form action="javascript:" method="POST" id="new_filter">
                        <div>screen name : <input type="TEXT" name="screen_name" size="8" /></div>
                        <div>filter name : <input type="TEXT" name="filter" size="8" /></div>
                        <input type="SUBMIT" value="Add" class="submit" />
                    </form>
                </div>
            </div>

            <div id="ignore_word_box" class="tools">
                <div style="margin : 5px 3px;">Add Ignore Word</div>
                <div style="margin-right: 0px; padding-left: 30px;">
                    <form action="javascript:" method="POST" id="add_ignore_word">
                        <input type="text" name="word" size="8"><input type="submit" value="Add">
                    </form>
                </div>

            </div>


            <div class="tools" id="tabs"></div>
        </div>

    </div>

</body>
</html>

